@model IEnumerable<LabWeb06_ConsumirApiCore.Entidad.PedidosporEmpleado>
@{
    ViewData["Title"] = "Pedidos por Empleados";
}

<h1>Consumiendo el Servicio Web API</h1>
<hr />
<form action="/Consultas/Index">
    <p>Seleccione un Empleado</p>
    <p>
        <select name="id" asp-items="ViewBag.empleados">
            <option>Seleccionar</option>
        </select>
        <input type="submit" value="Enviar"/>
    </p>
</form>
<hr />
<p>Número de Pedidos encontrados: @ViewBag.nrofilas</p>
<hr />
<table class="table table-bordered">
    <tr>
        <td>Item</td>
        <td>Pedido</td>
        <td>Fecha Orden</td>
        <td>Año de Venta</td>
        <td>Cod.Emp</td>
        <td>Apellidos</td>
        <td>Ciudad de Envio</td>
    </tr>
    @{ int n = 0;}
    @foreach (var item in Model)
    {
        n++;
        <tr>
            <td>@n</td>
            <td>@item.IdPedidos</td>
            <td>@item.fechaOrden</td>
            <td>@item.Anio</td>
            <td>@item.CodEmp</td>
            <td>@item.Apellidos</td>
            <td>@item.CiudadEnvio</td>
        </tr>
    }
</table>